---
layout: default
---

{% assign author = site.data.journal.authors[page.author] %}

{% include header.html target="journal" %}

<main class="post" data-lang="{{ page.language }}">
    <section class="cover">
        <figure class="background" style="background-image:url({{ page.cover }});"></figure>
    </section>
    <section class="details">
        <h1>{{ page.title | upcase }}</h1>
        <span class="date">{{ page.date | date: '%B %d' }}</span>
        {% include share.html inverted=true %}
    </section>
    <section class="body">
        <div class="content">
            {{ content }}
        </div>
        {% include share.html %}
    </section>
    <section class="author">
        <span class="published">Published on {{ page.date | date: '%B %d, %Y' }} by</span>
        <img class="gravatar" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=60">
        <span class="name">{{ author.name }}</span>
        <p>{{ author.biography }}</p>
    </section>
</main>

<script src="/assets/js/default.js"></script>