/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../../base/mixins';
@import '../../base/typography';

$base-path: '../../' !default;
$post-aside-width: 250px;
$post-aside-height: 200px;
$post-border-radius: 6px;

main.journal
{
    height: auto;

    section.title
    {
        padding: 80px 10% 0px 10%;
        width: 100%;
        height: auto;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        position: relative;

        @media only screen and (min-width: 700px)
        {
            padding: 80px 10%;
        }

        @media only screen and (min-width: 1025px)
        {
            padding: 80px 20%;
        }
    }

    section.posts
    {
        padding: 80px 60px;
        width: 100%;
        height: auto;
        min-height: 500px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        position: relative;

        @media only screen and (min-width: 700px)
        {
            padding: 80px 10%;
        }

        @media only screen and (min-width: 1025px)
        {
            padding: 80px 20%;
        }
    }

    a.post
    {
        margin: 20px 10px;
        width: 100%;
        text-align: left;
        display: inline-block;
        border-radius: $post-border-radius;
        overflow: hidden;
        position: relative;

        @include portrait
        {
            height: 400px;
        }

        @include landscape
        {
            height: 300px;
        }

        .csstransitions &
        {
            transition: background-color 0.2s ease-out;
        }

        figure
        {
            &:before
            {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.0);
                position: absolute;
                content: '';
                display: block;

                .csstransitions &
                {
                    transition: background-color 0.2s ease-out;
                }
            }

            @include portrait
            {
                width: 100%;
                height: calc(100% - #{$post-aside-height});
            }

            @include landscape
            {
                width: calc(100% - #{$post-aside-width});
                height: 100%;
            }

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: $post-border-radius;
            display: inline-block;
            position: relative;
            overflow: hidden;
            // box-shadow: 0px 2px 12px #ccc;
        }

        .no-touch &:hover
        {
            figure
            {
                &:before
                {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            background-color: rgba(255, 255, 255, 1.0);
        }

        aside
        {
            padding: 20px 40px;
            text-align: left;
            display: inline-block;
            position: relative;

            @include portrait
            {
                width: 100%;
                height: $post-aside-height;
            }

            @include landscape
            {
                width: $post-aside-width;
                height: 100%;
            }

            img.gravatar
            {
                top: 0px;
                bottom: 0px;
                left: 20px;
                margin: auto 0px;
                width: 60px;
                height: 60px;
                border-radius: 30px;
                position: absolute;
                display: inline-block;
            }

            h2
            {
                width: 100%;
                color: #666;
                text-align: left;
                font-size: 18px;
                position: relative;
            }

            span.date
            {
                margin: 0px 0px 10px 0px;
                font-size: 12px;
                color: #666;
                display: inline-block;
                position: relative;
            }

            p
            {
                color: #666;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    h2
    {
        width: 100%;
        font-size: 60px;
        color: #c2c2c2;
        display: inline-block;
        position: relative;

        @media only screen and (min-width: 600px)
        {
            font-size: 100px;
        }
    }

    h3
    {
        padding: 10px;
        font-size: 20px;
        width: 50%;
        color: #707070;
        border-bottom: 1px #ccc solid;
        display: inline-block;
        position: relative;

        @media only screen and (min-width: 600px)
        {
            padding: 20px;
            font-size: 24px;
        }
    }

    h4
    {
        margin-bottom: 15px;
        font-size: 18px;
        text-align: left;
        color: #606060;
    }
}