/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import 'base/mixins';
@import 'base/typography';

$base-path: '../../' !default;

main.post[data-lang="jp"]
{
    h3
    {
        font-family: serif;
    }

    p, li
    {
        font-family: serif;
    }
}