/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../../base/mixins';
@import '../../base/typography';

$base-path: '../../' !default;

main.post
{
    width: 100%;
    height: 100%;

    section.cover
    {
        @extend .vs-fluid-block;

        padding: 40px 60px;
        width: 100%;
        height: 100%;
        z-index: 0;

        @include longer-than(600)
        {
            height: 80%;
        }

        figure.background
        {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: block;
            position: absolute;

            @include desktop
            {
                background-attachment: fixed;
            }

            &:before
            {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                content: '';
                display: block;
                position: relative;
            }
        }

    }

    div.details
    {
        vertical-align: bottom;
        display: inline-block;
        position: relative;

        img.gravatar
        {
            margin: 5px auto;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            display: inline-block;
            position: relative;
        }

        h1
        {
            margin: 0px;
            font-size: 60px;
            line-height: 70px;
            color: #fff;

            @include narrower-than(768)
            {
                font-size: 50px;
                line-height: 60px;
            }
        }

        span.date
        {
            color: #fff;
        }
    }

    section.body
    {
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #eeeeec;
        word-wrap: break-word;
        z-index: 10;

        @include wider-than(700)
        {
            padding: 0px 10%;
        }

        @include wider-than(1024)
        {
            padding: 0px 20%;
        }

        div.content
        {
            padding: 100px 0px;
            width: 100%;
            height: auto;
            position: relative;
        }
    }

    section.author
    {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #ddd;
        z-index: 10;

        span.published
        {
            margin-bottom: 20px;
            font-size: 14px;
            color: #999;
            display: block;
            position: relative;
        }

        img.gravatar
        {
            margin: 0px auto;
            padding: 0px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            display: block;
            position: relative;
        }

        span.name
        {
            margin: 10px 0px;
            font-family: $font-family-content;
            font-size: 18px;
            color: #333;
            display: block;
            position: relative;
        }

        p
        {
            margin: 0px auto;
            width: 80%;
            max-width: 600px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }
}
