/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import './mixins';

$base-path: '../../' !default;

$font-family-content: 'EB Garamond', serif;
$font-family-header: 'Oswald', sans-serif;
$font-family-sub-header: 'Helvetica Neue', sans-serif;
$font-family-serif-normal: 400;
$font-family-sans-serif-light: 300;
$font-family-sans-serif-normal: 400;

span,
p,
li,
em,
h1,
h2,
h3,
h4,
h5,
h6,
button
{
    margin: 0px;
    padding: 0px;
    font-style: normal;
    text-align: inherit;
    list-style: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

span,
p,
li
{
    font-family: $font-family-content;
    font-weight: $font-family-serif-normal;
    font-size: 18px;
    line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: $font-family-header;
}

p,
li
{
    color: #707070;
}

p
{
    & + p
    {
        margin-top: 20px;
    }
}

em
{
    font-size: inherit;
    font-weight: inherit;
}

h1
{
    font-size: 56px;
    font-weight: $font-family-sans-serif-light;
    line-height: 1.2em;
    display: inline-block;
    position: relative;
}

h2
{
    margin: 20px;
    font-size: 60px;
    font-weight: $font-family-sans-serif-light;
    text-align: center;
    line-height: 1.2em;
    color: #c2c2c2;
    display: block;
    position: relative;

    @include wider-than(1023)
    {
        font-size: 100px;
    }
}

h3
{
    margin: 20px;
    font-weight: $font-family-sans-serif-light;
    font-size: 20px;
    text-align: center;
    line-height: 1.2em;
    color: #707070;
    display: block;
    position: relative;

    @include wider-than(600)
    {
        font-size: 24px;
    }
}

h4
{
    margin: 0px;
    font-size: 24px;
    text-align: left;
    font-weight: $font-family-sans-serif-light;
    color: #606060;
    line-height: 1.2em;
    display: block;
    position: relative;

    @include wider-than(767)
    {
        font-size: 30px;
    }
}

h5
{
    margin: 0px;
    padding: 10px 10px 20px 0px;
    font-size: 14px;
    font-weight: $font-family-sans-serif-light;
    color: #707070;
    line-height: 1.2em;
    text-align: left;
    display: block;
    position: relative;

    @include wider-than(767)
    {
        font-size: 18px;
    }
}

h6
{
    width: 100%;
    color: #666;
    text-align: left;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: $font-family-sans-serif-light;
    display: inline-block;
    position: relative;
}

em
{
    font-style: italic;
}

a
{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: #000;
    text-align: inherit;
    line-height: inherit;
    text-decoration: underline;

    &:hover,
    &.active,
    &.state-active
    {
        opacity: 0.6;
        text-decoration: none;
    }
}
