---
layout: default
title: Journal - Vestige
---

{% include header.html target="journal" %}

<main class="journal">
    <section class="posts">
        {% for post in site.posts %}
            {% assign author = site.data.journal.authors[post.author] %}
            <a class="post" href="{{ post.url }}">
                <figure class="cover" style="background-image:url({{ post.cover }});"></figure>
                <aside>
                    <h6>{{ post.title | upcase }}</h6>
                    <span class="date">{{ post.date | date_to_long_string }}</span>
                    <p>{{ post.content | strip_html | truncate:100}}</p>
                </aside>
            </a>
        {% endfor %}
    </section>
    <section class="social">
        {% include social.html %}
        </section>
</main>

<script src="/assets/js/default.js"></script>
