---
layout: default
title: Contact - Vestige
description: The message within. Founded in Vancouver, we are a fashion house that gives casual premium a whole new meaning.
---

{% include header.html target="contact" %}

<main class="contact">
    <section class="title">
        <h2>CONTACT</h2>
        <hr/>
        <aside class="cell">
            <h6>PRESS</h6>
            <hr/>
            <li>+1 604.767.7651</li>
            <p><a href="mailto:press@vestigestory.com">press@vestigestory.com</a></p>
            <p>Please direct press inquiries to Lilian.</p>
        </aside>
        <aside class="cell">
            <h6>WHOLESALE</h6>
            <hr/>
            <li>+1 778.858.4516</li>
            <p><a href="mailto:accounts@vestigestory.com">accounts@vestigestory.com</a></p>
            <p>Please direct wholesale inquiries to Vivian.</p>
        </aside>
        {% include social.html %}
    </section>
</main>

<script src="/assets/js/default.js"></script>
