/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../base/mixins';

$base-path: '../../' !default;

div.social
{
    padding-top: 50px;
    width: auto;
    height: auto;
    display: block;
    position: relative;

    a.social:not(:last-child)
    {
        margin-right: 20px;
    }
}

div.share
{
    margin: 0px auto;
    padding: 20px 0px;
    width: 100px;
    max-width: 980px;
    height: auto;
    text-align: center;
    position: relative;

    a:not(:last-child)
    {
        margin-right: 10px;
    }
}