---
layout: default
title: About - Vestige
description: The message within. Founded in Vancouver, we are a fashion house that gives casual premium a whole new meaning.
---

{% include header.html target="about" %}

<main class="about">
    <section class="title">
        <h2>VESTIGE</h2>
        <h3>THE MESSAGE WITHIN</h3>
        <hr/>
        <p>Each season, we tell a tale of two individuals, brought together by a message in a bottle. In a time and age where communication is sparse and undervalued, we showcase how inspiring and precious connecting with others can be. Every story works to bring two seemingly different souls together, forming a harmonious collection.</p>
        <p>Finding meaning goes beyond looking pretty. We strive for lasting impact. Our designs only use premium, natural fabrics that can stand the test of time. Our story continues from season to season, for we love continuity. We also support our local manufacturers. Some of our pieces are made in our hometown, Vancouver B.C.</p>
        <p>Our signature tops are packaged in a Vestige bottle — with a little message for you tucked inside.</p>
        {% include social.html %}
    </section>
</main>

<script src="/assets/js/default.js"></script>
