/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../base/mixins';

$base-path: '../../' !default;
$thumbnail-size-large: 200px;
$thumbnail-size-medium: 150px;
$thumbnail-size-small: 100px;

main.collection
{
    section.products
    {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        min-height: 420px;
        text-align: center;
        background-color: #f7f7f7;
        vertical-align: middle;
        display: inline-block;
        position: absolute;
        overflow: hidden;

        // Nav with thumbnails.
        nav
        {
            bottom: 0px;
            left: 0px;
            width: 0; // will be resized in code
            height: $thumbnail-size-small;
            text-align: left;
            display: block;
            overflow-x: hidden;
            overflow-y: hidden;
            position: absolute;

            @include longer-than(500)
            {
                height: $thumbnail-size-medium;
            }

            @include longer-than(700)
            {
                height: $thumbnail-size-large;
            }

            .touch &
            {
                width: 100% !important;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar
                {
                    display: none;
                }
            }

            // Thumbnail.
            a.thumbnail
            {
                width: $thumbnail-size-small;
                height: $thumbnail-size-small;
                display: inline-block;
                position: relative;
                box-sizing: border-box;

                @include longer-than(500)
                {
                    width: $thumbnail-size-medium;
                    height: $thumbnail-size-medium;
                }

                @include longer-than(700)
                {
                    width: $thumbnail-size-large;
                    height: $thumbnail-size-large;
                }

                &,
                &.state-inactive
                {
                    border: 0px solid #999;
                }

                &.state-active
                {
                    border: 2px solid #999;
                }

                &:hover
                {
                    cursor: pointer;
                    border: 2px solid #999;
                    opacity: 0.6;
                }

                .csstransitions &
                {
                    transition-property: border, opacity;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-out;
                }

                img
                {
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    position: absolute;
                }
            }
        }

        // Main display.
        summary
        {
            @extend .vs-fluid-block;

            top: 0px;
            left: 0px;
            width: 100%;
            height: calc(100% - 100px);
            display: block;
            text-align: center;
            position: absolute;
            overflow: hidden;

            @include wider-than(767)
            {
                text-align: right;
            }

            @include longer-than(500)
            {
                height: calc(100% - 150px);
            }

            @include longer-than(700)
            {
                height: calc(100% - 200px);
            }

            article
            {
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                overflow-x: hidden;
                overflow-y: hidden;

                .csstransitions &
                {
                    transition: opacity 0.4s ease-out;
                }

                div.slides
                {
                    top: 0px;
                    height: 100%;
                    position: absolute;
                    overflow-x: hidden;
                    overflow-y: hidden;

                    .touch &
                    {
                        width: 100% !important;
                        overflow-x: scroll;
                        overflow-y: hidden;
                        white-space: nowrap;
                        -webkit-overflow-scrolling: touch;

                        &::-webkit-scrollbar
                        {
                            display: none;
                        }
                    }

                    .csstransitions &
                    {
                        @extend .vs-animate;

                        transition-property: transform;
                        transition-duration: 0.5s;
                    }

                    .cssanimations &.state-active
                    {
                        animation: reveal 1.0s;
                    }

                    figure
                    {
                        width: 100vw;
                        height: 100%;
                        vertical-align: top;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        position: relative;
                        overflow: hidden;
                    }
                }

                nav
                {
                    left: 0px;
                    right: 0px;
                    bottom: 10px;
                    margin: auto;
                    width: auto;
                    height: auto;
                    text-align: center;
                    position: absolute;

                    button.nav-node
                    {
                        margin: 5px;
                    }
                }
            }

            &.state-active
            {
                article
                {
                    opacity: 0.4;
                }

                aside
                {
                    display: inline-block;
                }
            }

            aside
            {
                width: 70%;
                height: auto;
                white-space: pre-line;
                vertical-align: middle;
                line-height: 0;
                display: none;
                position: relative;

                .touch &
                {
                    pointer-events: none;
                }

                @include wider-than(767)
                {
                    width: 300px;
                    right: 5%;
                    display: inline-block;
                }

                span[data-type="description"]
                {
                    padding-bottom: 10px;
                    font-size: 14px;
                    color: #666;
                    text-align: left;
                    display: block;
                    line-height: 20px;
                    position: relative;

                    @include wider-than(767)
                    {
                        padding-bottom: 20px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }

                span[data-type="sizes"]
                {
                    padding-bottom: 10px;
                    text-align: left;
                    display: block;
                    position: relative;
                    line-height: inherit;

                    span
                    {
                        font-size: 14px;
                        color: #666;
                        line-height: inherit;
                    }
                }

                span[data-type="colors"]
                {
                    text-align: left;
                    display: block;
                    position: relative;
                    line-height: inherit;

                    span
                    {
                        font-size: 14px;
                        color: #666;
                        line-height: inherit;
                    }
                }
            }

            button.info
            {
                top: 15px;
                left: 10px;
                position: absolute;

                @include wider-than(767)
                {
                    display: none;
                }
            }
        }
    }

    button.size
    {
        margin-left: 5px;
        font-size: 10px;
        text-align: center;
        border-radius: $default-border-radius;
        background-color: #bbb;
        color: #fff;
        pointer-events: none;
        vertical-align: middle;

        &.xs
        {
            width: 30px;
            height: 30px;

            &:after
            {
                content: 'XS';
            }
        }

        &.s
        {
            width: 30px;
            height: 30px;

            &:after
            {
                content: 'S';
            }
        }

        &.m
        {
            width: 30px;
            height: 30px;

            &:after
            {
                content: 'M';
            }
        }

        &.l
        {
            width: 30px;
            height: 30px;

            &:after
            {
                content: 'L';
            }
        }

        &.xs-s
        {
            width: 30px;
            height: 30px;

            &:after
            {
                content: 'XS-S';
            }
        }

        &.m-l
        {
            width: 30px;
            height: 30px;

            &:after
            {
                content: 'M-L';
            }
        }
    }

    button.color
    {
        margin-left: 5px;
        width: 30px;
        height: 30px;
        font-size: 10px;
        text-align: center;
        border-radius: $default-border-radius;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        vertical-align: middle;
        pointer-events: none;

        @include wider-than(767)
        {
            width: 35px;
            height: 35px;
        }
    }
}

@keyframes reveal
{
    0%
    {
        opacity: 0.0;
    }

    100%
    {
        opacity: 1.0;
    }
}