/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../base/mixins';
@import '../base/typography';

$base-path: '../../' !default;

header#menu
{
    top: 0px;
    pointer-events: none;
    display: block;
    position: fixed;
    z-index: $header-z-index;

    h1.logo
    {
        width: 31px;
        height: 30px;
        font-size: 0px;
        background: url($base-path+'images/components/logos/vestige-logo.svg') no-repeat;
        background-size: auto 100%;
        vertical-align: top;
        display: inline-block;
        position: relative;
    }

    a
    {
        color: #000;
    }

    button.menu
    {
        top: 20px;
        right: 10px;
        position: absolute;
        pointer-events: auto;
        transition: all 0.5s ease-in-out;
    }

    nav
    {
        li
        {
            a,
            a.inactive
            {
                opacity: 0.5;

                .csstransitions &
                {
                    transition: opacity 0.2s ease-out, text-decoration 0.2s ease-out;
                }
            }

            a:hover,
            a.active
            {
                opacity: 1.0;
                text-decoration: underline;
            }
        }
    }

    @include wider-than(767)
    {
        width: 100%;
        height: 70px;
        background-color: transparent;

        .csstransitions &
        {
            transition: transform 0.4s ease-out, background-color 0.4s ease-out;
        }

        &.emphasized
        {
            background-color: rgba(255, 255, 255, 0.6);
        }

        button.menu
        {
            display: none;
        }

        &.auto-hide
        {
            &,
            &.state-hidden
            {
                transform: translateY(-70px);
            }

            &.state-visible
            {
                transform: translateY(0px);
            }
        }

        h1.logo
        {
            margin: 20px 20px 20px 30px;
            float: left;
        }

        nav
        {
            width: auto;
            height: 70px;
            text-align: left;
            position: relative;
            pointer-events: auto;
            display: inline-block;

            li
            {
                font-family: $font-family-header;
                font-size: 14px;
                font-weight: $font-family-sans-serif-light;
                line-height: 70px;
                letter-spacing: 2px;
                display: inline-block;

                &:not(:last-child)
                {
                    margin-right: 20px;
                }
            }
        }
    }

    @include narrower-than(768)
    {
        right: 0px;
        height: 100%;

        h1.logo
        {
            margin: 20px 0px 20px 30px;
        }

        nav
        {
            right: 0px;
            padding: 70px 10px;
            width: 200px;
            height: 100%;
            text-align: right;
            position: relative;
            pointer-events: auto;
            white-space: pre-line;
            line-height: 0;
            background-color: rgba(255, 255, 255, 0.4);
            display: inline-block;

            .csstransitions &
            {
                transition: transform 0.3s ease-in-out;
            }

            &,
            &.state-hidden
            {
                transform: translateX(200px);
            }

            &.state-visible
            {
                transform: translateX(0px);
            }

            li
            {
                height: 30px;
                font-family: $font-family-header;
                font-size: 14px;
                font-weight: $font-family-sans-serif-light;
                line-height: 30px;
                letter-spacing: 2px;
                display: block;
            }
        }
    }
}
