---
layout: default
title: Stockist - Vestige
description: The message within. Founded in Vancouver, we are a fashion house that gives casual premium a whole new meaning.
---

{% include header.html target="stockist" %}

<main class="stockist">
    <section class="title">
        <h2>FIND US</h2>
        <h3>WHERE WE ARE FOUND</h3>
        <hr/>
        <p>You can find the Vestige Collection at the retail and online locations listed below. If you are interested in carrying Vestige please email us at <a href="mailto:{{ site.accounts_email }}">{{ site.accounts_email }}</a>.</p>
    </section>
    <section class="vendors">
        {% for vendor in site.data.stockist.vendors %}
            <aside>
                <h3>{{ vendor.name | upcase }}</h3>
                <li>{% if vendor.type == 'online' %}<a href="{{ vendor.address }}">{% endif %}{{ vendor.address }}{% if vendor.type == 'online' %}</a>{% endif %}</li>
                <li>{{ vendor.location }}</li>
            </aside>
        {% endfor %}
    </section>
    <section class="contact">
        <li><em>general inquiries</em> | <a href="mailto:{{ site.info_email }}">{{ site.info_email }}</a></li>
        <li><em>press</em> | <a href="mailto:{{ site.press_email }}">{{ site.press_email }}</a></li>
        <li><em>wholesale</em> | <a href="mailto:{{ site.accounts_email }}">{{ site.accounts_email }}</a></li>
    </section>
    <section class="social">
        {% include social.html %}
    </section>
</main>

<script src="/assets/js/default.js"></script>
