/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../../base/mixins';
@import '../../base/typography';

$base-path: '../../' !default;

$asset-background: $base-path+'images/storybook/background-credits.jpg';

main.story-book
{
    section.credits
    {
        @include apply-mobile-background(url($asset-background));

        .content-layer
        {
            summary
            {
                text-align: center;
                vertical-align: middle;
                position: relative;

                header
                {
                    h2
                    {
                        text-align: center;
                    }

                    h3
                    {
                        text-align: center;
                    }
                }

                aside
                {
                    width: 100%;
                    text-align: center;

                    p
                    {
                        text-align: center;
                    }
                }
            }
        }

        dialog
        {
            @include dialog-fade-transition();

            width: 700px;

            aside
            {
                p
                {
                    text-align: center;

                    &:first-child::first-letter
                    {
                        font-size: 14px;
                        float: none;
                        line-height: 20px;
                        padding-right: 0px;
                    }

                    em
                    {
                        font-family: $font-family-header;
                        color: #333;
                    }
                }
            }
        }
    }
}
