/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../../base/mixins';

$base-path: '../../' !default;

$asset-mobile-background: $base-path+'images/storybook/background-fruits-m.jpg';

main.story-book
{
    section.fruits
    {
        @include apply-mobile-background(url($asset-mobile-background));

        summary
        {
            top: 30%;
            right: 15%;
            text-align: right;
            position: absolute;

            header
            {
                h2
                {
                    text-align: left;
                }

                h3
                {
                    text-align: right;
                }
            }

            aside
            {
                width: 70%;
                text-align: left;

                p
                {
                    text-align: left;
                }
            }
        }
    }
}
