/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import 'base/mixins';

$base-path: '../../' !default;

$asset-mobile-background: $base-path+'images/storybook/background-pass-m.jpg';

main.story-book
{
    section.pass
    {
        @include apply-mobile-background(url($asset-mobile-background));

        summary
        {
            text-align: right;

            header
            {
                h2
                {
                    text-align: center;
                }

                h3
                {
                    text-align: center;
                }
            }

            aside
            {
                width: 100%;
                text-align: center;

                p
                {
                    text-align: center;
                }
            }
        }
    }
}
