/**
 *  vestigestory.com
 *  (c) Vestige <http://vestigestory.com>
 */

@import '../../base/mixins';

$base-path: '../../' !default;

$asset-mobile-background: $base-path+'images/storybook/background-video.jpg';

main.story-book
{
    section.video
    {
        @include apply-mobile-background(url($asset-mobile-background));

        .content-layer
        {
            width: 100%;

            summary
            {
                text-align: center;
                vertical-align: middle;

                aside
                {
                    display: block;
                }
            }

            figure.title
            {
                width: 200px;
                height: auto;
                display: inline-block;
                position: relative;

                @media only screen and (min-width: 321px)
                {
                    width: 250px;
                }

                img
                {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .overlay-layer
        {
            @include background-fade-transition();

            &.state-visible
            {
                pointer-events: auto;
            }
        }

        dialog
        {
            @include dialog-fade-transition();

            padding: 0px;
            background-color: transparent;
            overflow: hidden;

            iframe
            {
                margin: auto;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
            }
        }
    }
}
