<header id="menu" class="{{ include.title }}">
    <h1 class="logo">VESTIGE</h1>
    <nav>
        <li data-type="story-book"><a href="/" target="_self">STORY BOOK</a></li>
        <li data-type="about"><a href="/about" target="_self">VESTIGE</a></li>
        <li data-type="collection"><a href="/collection" target="_self">COLLECTION</a></li>
        <li data-type="journal"><a href="/journal" target="_self">JOURNAL</a></li>
    </nav>
</header>
<header id="menu-compact">
    <nav>
        <li data-type="story-book"><a href="/" target="_self">STORY BOOK</a></li>
        <li data-type="about"><a href="/about" target="_self">VESTIGE</a></li>
        <li data-type="collection"><a href="/collection" target="_self">COLLECTION</a></li>
        <li data-type="journal"><a href="/journal" target="_self">JOURNAL</a></li>
        <h1 class="logo">VESTIGE</h1>
    </nav>
    <button class="menu"><span></span></button>
</header>