<header id="menu" class="{{ include.class }}">
    <h1 class="logo">VESTIGE</h1>
    <nav>
        <li data-type="story-book"><a href="/" {% if include.target == 'story-book' %}class="active"{% endif %} target="_self">STORY BOOK</a></li>
        <li data-type="about"><a href="/about" {% if include.target == 'about' %}class="active"{% endif %} target="_self">VESTIGE</a></li>
        <li data-type="collection"><a href="/collection" {% if include.target == 'collection' %}class="active"{% endif %} target="_self">COLLECTION</a></li>
        <li data-type="journal"><a href="/journal" {% if include.target == 'journal' %}class="active"{% endif %} target="_self">JOURNAL</a></li>
    </nav>
</header>
<header id="menu-compact">
    <nav>
        <li data-type="story-book"><a href="/" {% if include.target == 'story-book' %}class="active"{% endif %} target="_self">STORY BOOK</a></li>
        <li data-type="about"><a href="/about" {% if include.target == 'about' %}class="active"{% endif %} target="_self">VESTIGE</a></li>
        <li data-type="collection"><a href="/collection" {% if include.target == 'collection' %}class="active"{% endif %} target="_self">COLLECTION</a></li>
        <li data-type="journal"><a href="/journal" {% if include.target == 'journal' %}class="active"{% endif %} target="_self">JOURNAL</a></li>
        <h1 class="logo">VESTIGE</h1>
    </nav>
    <button class="menu"><span></span></button>
</header>