---
layout: default
title: Press - Vestige
description: The message within. Founded in Vancouver, we are a fashion house that gives casual premium a whole new meaning.
---

{% include header.html target="press" %}

<main class="press">
    <section class="title">
        <h2>PRESS</h2>
        <h3>VESTIGE IN THE MEDIA</h3>
        <hr/>
        <p>"The brand is all about taking the time to think about the days of slow communication - thinking about the delicate symbol of a gift in a glass bottle being passed between two hands, what does that signify to you?" &mdash; This Open Space</p>
    </section>
    <section class="media">
        {% for medium in site.data.press.media %}
            <a href="{{ medium.url }}">
                <img src="{{ site.url }}{{ medium.logo }}"/>
            </a>
        {% endfor %}
    </section>
    <section class="contact">
        <li><em>general inquiries</em> | <a href="mailto:{{ site.data.social.info_email }}">{{ site.data.social.info_email }}</a></li>
        <li><em>press</em> | <a href="mailto:{{ site.data.social.press_email }}">{{ site.data.social.press_email }}</a></li>
        <li><em>wholesale</em> | <a href="mailto:{{ site.data.social.accounts_email }}">{{ site.data.social.accounts_email }}</a></li>
    </section>
    <section class="social">
        {% include social.html %}
    </section>
</main>

<script src="/assets/js/default.js"></script>
